<!DOCTYPE html>
<html>

<head>
    <!-- meta character set -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Site Title -->
    <title>Contact Us</title>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Meta Description -->
    <meta name="description" content="About the company webpage" />
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- Author Meta -->
    <meta name="author" content="SKSLtechnologies" />
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Get the fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">

    <!-- ===================== CSS ===================== -->
    <!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- Linear Icon Fonts-->
    <link rel="stylesheet" href="css/linearicons.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- jQuery Nice Select -->
    <link rel="stylesheet" href="css/nice-select.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="css/owl.carousel.css">
    <!-- Hexagon Buttons -->
    <link rel="stylesheet" href="css/hexagons.min.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <style>
        hr {
        border: 0.5px solid #d7dee6;
        }
    </style>


    <!-- Modernizr JS -->
    <script src="js/modernizr-2.6.2.min.js"></script>
    <script src="js/pace.min.js"></script>
</head>

<body>
    <header id="header" id="home">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-4 header-top-left no-padding">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-8 header-top-right no-padding">
                        <a href="tel:+880 012 3654 896">+880 012 3654 896</a>
                        <a href="mailto:support@colorlib.com">support@colorlib.com</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container main-menu">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="index.html"><img src="img/brand.jpg" alt="" title="" /></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="menu-active"><a href="home.html">Home</a></li>
                        <li class="menu-has-children"><a href="about.html">About</a>
                            <ul>
                                <li><a href="about.html#mission">Mission</a></li>
                                <li><a href="about.html#vision">Vision</a></li>
                                <li><a href="about.html#values">Core Values</a></li>
                                <li><a href="about.html#team">Leadership</a></li>
                                <li><a href="about.html#scroll">Clients</a></li>
                                <li><a href="about.html#milestones">Milestones</a></li>
                            </ul>
                        </li>
                        <li><a href="services.html">Service</a></li>
                        <li><a href="projects.html">Projects</a></li>
                        <li class="menu-has-children"><a href="">Blog</a>
                            <ul>
                                <li><a href="blog-home.html">Blog Home</a></li>
                                <li><a href="blog-single.html">Blog Single</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="careers.html">Careers</a></li>
                    </ul>
                </nav><!-- #nav-menu-container -->
            </div>
        </div>
    </header><!-- #header -->

{{{body}}}



    <!-- Start footer Area -->
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>About the Company</h6>
                        <p>
                            Far from the countries Vokalia and Consonantia, there live the blind texts. Separated they
                            live
                            in Bookmarksgrove right at the coast of the Semantics
                        </p>
                        <div class="footer-social d-flex align-items-center">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-footer-widget align-items-center">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Contact Us</h6>
                        <p>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;2/5 Sarat Bose
                            Road,
                            Kolkata 700 020
                            <br />
                            <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;(033) 6637 4090
                            <br />
                            <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;kol@sksl.in
                        </p>
                        <p class="footer-text">All rights reserved | <i class="fa fa-copyright" aria-hidden="true"></i>
                            SKSL 2019
                        </p>
                    </div>
                </div>
                <div class="go-top">
                    <a class="smoothscroll" title="Back to Top" href="#home"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </footer>




    <!-- End footer Area -->

   <!-- =================== JavaScript for accordian =================== -->
   <script>
        var acc = document.getElementsByClassName("accordion");
        var i;
        
        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight){
              panel.style.maxHeight = null;
            } else {
              panel.style.maxHeight = panel.scrollHeight + "px";
            } 
          });
        }
    </script>



    <!-- =================== JavaScript =================== -->
    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="js/easing.min.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="js/waypoints.min.js"></script>
    <!-- Superfish -->
    <script src="js/superfish.min.js"></script>
    <!-- Owl carousel -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- Magnific Popup -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/magnific-popup-options.js"></script>
    <!-- Counters -->
    <script src="js/jquery.countTo.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <!-- Hexagon Buttons-->
    <script src="js/hexagons.min.js"></script>
    <!-- jQuery Nice Select -->
    <script src="js/jquery.nice-select.min.js"></script>
    <!-- AOS -->
    <script src="js/plugins.js"></script>
    <!-- AjaxChimp -->
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/mail-script.js"></script>
    <!-- Main -->
    <script src="js/main.js"></script>


</body>

</html>