<!DOCTYPE html>
<html>

<head>
    <!-- meta character set -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Site Title -->
    <title>Careers</title>
</head>

<body>


    <!-- start banner Area -->
    <section class="banner-area relative" id="home" style="background: url(https://images.unsplash.com/photo-1522071901873-411886a10004?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-size: cover">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                        CAREERS
                    </h1>
                    <p class="text-white link-nav"><a href="index.html">Home </a> <span class="lnr lnr-arrow-right"></span>
                        <a href="contact.html">
                            Careers</a></p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->

    <!-- careers -->
    <section id="careers" class="careers">
        <div class="container">
            
            <div class="row  careers-content" data-aos="fade-up">
                <div class="careers-left">
                    <h3>Refine your search</h3><br><hr>
                    <button class="accordion">Job Category</button>
                        <div class="panel"><br>
                            <label class="checkbox1">Technology & Engineering
                                    <input type="checkbox" checked="checked">
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="checkbox1">Corporate
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="checkbox1">IT Infrastructure
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="checkbox1">Accounts & Finance
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                  </label>
                        </div><hr>

                        <button class="accordion">Location</button>
                        <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div><hr>

                        <button class="accordion">Minimum experience</button>
                        <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div><hr>


                </div>
                <div class="careers-right">
                    <div class="contact-info">
                        <div class="cinfo">
                            <!-- <h5>Where to Find Us</h5> --><br>
                            <form class="example" action="/action_page.php">
                                <input type="text" placeholder="Search from below list" name="search">
                                <button type="submit"><i class="fa fa-search"></i></button>
                              </form>
                              <br><hr>
                            <p><br></p>
                        </div>

                        <div class="careerinfo">
                            <a href="/jobDesc"> <h4>Solution-to-Cost Architect</h4></a>
                             <div class="subtitle">
                             <p><i class="fa fa-map-marker" aria-hidden="true" ></i>&nbsp; Kolkata,West Bengal&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <i class="fa fa-briefcase" aria-hidden="true"></i>&nbsp; 2-5 years of experience&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <i class="fa fa-flag-o" aria-hidden="true"></i>&nbsp; Job ID:10110210201&nbsp;
                             </p>
                             </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    
                            </div>
                            <hr><br>
                        <div class="careerinfo">
                            <a href="job1"><h4>Business Associate</h4></a>
                            <div class="subtitle">
                                 <p><i class="fa fa-map-marker" aria-hidden="true" ></i>&nbsp; Bangalore,Karnataka&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                 <i class="fa fa-briefcase" aria-hidden="true"></i>&nbsp; 2-5 years of experience&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                 <i class="fa fa-flag-o" aria-hidden="true"></i>&nbsp; Job ID:10110210201&nbsp;
                                </p>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
           
                        </div>
                        <hr><br>
                        <div class="careerinfo">
                            <a href="job1"><h4>Sr. Associate - Projects</h4></a>
                                        <div class="subtitle">
                                        <p><i class="fa fa-map-marker" aria-hidden="true" ></i>&nbsp; Bilaspur,Chattisgarh&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                         <i class="fa fa-briefcase" aria-hidden="true"></i>&nbsp; 2-5 years of experience&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                         <i class="fa fa-flag-o" aria-hidden="true"></i>&nbsp; Job ID:10110210201&nbsp;
                                        </p>
                                        </div>
                                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
               
                        </div>
                        <hr><br>
                        <div class="careerinfo">
                                            <h4>Process Executive - Data</h4>
                                            <div class="subtitle">
                                            <p><i class="fa fa-map-marker" aria-hidden="true" ></i>&nbsp; Kolkata,West Bengal&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                             <i class="fa fa-briefcase" aria-hidden="true"></i>&nbsp; 2-5 years of experience&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                             <i class="fa fa-flag-o" aria-hidden="true"></i>&nbsp; Job ID:10110210201&nbsp;
                                            </p>
                                            </div>
                                               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                   
                        </div>
                        <hr><br>
                        <div class="careerinfo">
                                                <h4>Sr. Associate - Projects</h4>
                                                <div class="subtitle">
                                                <p><i class="fa fa-map-marker" aria-hidden="true" ></i>&nbsp; Kolkata,West Bengal&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                 <i class="fa fa-briefcase" aria-hidden="true"></i>&nbsp; 2-5 years of experience&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                 <i class="fa fa-flag-o" aria-hidden="true"></i>&nbsp; Job ID:10110210201&nbsp;
                                                </p>
                                                </div>
                                                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                       
                        </div>
                        <hr><br>
                                    

                        <div class="cinfo">
                            <h5>Call Us At</h5>
                            <p>
                                Phone: (033) 6637 4090<br>
                                Fax: (033) 2454 4094<br><br>
                                Monday to Friday - 9:30 AM to 5:30 PM <br>
                                Saturday - 9:30 AM to 1:30 PM
                            </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                        <ul class="row contact-social">
                            <li>
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>



</body>

</html>